@model NetBlog.Web.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}

<div class="bg-black text-white bg-opacity-75">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row align-items-center   g-5 py-5">
            <div class="col col-lg-6 col-md-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">
                    NetBlog - The Coding Blog
                </h1>
                <p class="lead text-justify">
                    Welcome to NetBlog, your go-to spot for all things coding! 
                    Explore HTML, CSS, JavaScript, C#, and more with us. 
                    Whether you're just starting out or diving into advanced topics, 
                    we're here to make coding simple and fun.
                </p>
            </div>

            <div class="col d-lg-block d-md-block d-none ">
                <img src="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                     alt="NetBlog - Coding Blogs"
                     class="d-block mx-lg-auto img-fluid" width="300" />
            </div>
        </div>
    </div>
</div>

<div class="container mt-3 text-center" id="search">
    <div class="row p-2">
        <div class="col">
            <form method="get" asp-controller="Home" asp-action="Index">
                <div class="d-flex flex-row">
                    <input type="text" class="form-control" name="searchQuery" value="@ViewBag.SearchQuery" />
                    <button type="submit" class="btn btn-primary ms-2">
                        <span><i class="bi bi-search"></i></span>
                    </button>
                    <a class="btn btn-secondary ms-2" asp-controller="Home" asp-action="Index">
                        <span><i class="bi bi-arrow-clockwise"></i></span>
                    </a>
                </div>
            </form>   
        </div>
    </div>

    <div class="row p-2">
        <div class="col d-flex">
            @if (Model != null && Model.Tags.Any())
            {
                foreach (var tag in Model.Tags)
                {
                    <a class="badge bg-dark me-1 text-decoration-none"
                       asp-controller="Home"
                       asp-action="Index"
                       asp-route-searchByTag="@tag.Name">
                        @tag.Name
                    </a>
                    
                }
            }
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row d-flex flex-wrap">
        @if (Model != null && Model.BlogPosts.Any())
        {
            foreach (var blogPost in Model.BlogPosts)
            {
                <div class="col-12 col-md-6 col-lg-4 mb-3 box-shadow">
                    <a class="text-decoration-none text-dark" asp-area=""
                       asp-controller="Blogs"
                       asp-action="Index"
                       asp-route-urlHandle="@blogPost.UrlHandle">
                        <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading" class="mb-2 d-block img-fluid" />

                        <h4 class="mb-2">
                            @blogPost.Heading
                        </h4>

                        <p class="mb-2">
                            Author: @blogPost.Author
                            <br />
                            Published Date: @blogPost.PublishedDate.ToShortDateString()
                        </p>

                        <p class="mb-2">
                            @foreach (var tag in blogPost.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </p>

                        <p class="mb-2 text-justify">
                            @blogPost.ShortDescription
                        </p>
                    </a>
                </div>
            }

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link"
                           asp-controller="Home"
                           asp-action="Index"
                           asp-route-pageNumber="@prevPage"
                           asp-route-pageSize="@ViewBag.PageSize">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-controller="Home"
                               asp-action="Index"
                               asp-route-pageNumber="@i"
                               asp-route-pageSize="@ViewBag.PageSize">@i</a>
                        </li>

                    }

                    <li class="page-item">
                        <a class="page-link"
                           asp-controller="Home"
                           asp-action="Index"
                           asp-route-pageNumber="@nextPage"
                           asp-route-pageSize="@ViewBag.PageSize">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        }
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var scrollpos = sessionStorage.getItem('homescrollpos');
            sessionStorage.clear();
            if (scrollpos) {
                window.scrollTo(0, scrollpos);
                sessionStorage.clear();
            }
        });

        window.onbeforeunload = function (e) {
            sessionStorage.setItem('homescrollpos', window.scrollY);
        };
    </script>
}
