@model List<NetBlog.Web.Models.Domain.BlogPost>

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Blog Posts - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    <div class="row d-flex flex-wrap">
        @if (Model != null && Model.Any())
        {
            foreach (var blogPost in Model)
            {
                <div class="col-12 col-md-6 col-lg-4 mb-3 box-shadow">
                    <img src="@blogPost.FeaturedImageUrl" alt="@blogPost.Heading" class="mb-2 d-block img-fluid" />

                    <h4 class="mb-2">
                        @blogPost.Heading
                    </h4>

                    <p class="mb-2">
                        Author: @blogPost.Author
                        <br />
                        Published Date: @blogPost.PublishedDate.ToShortDateString()
                    </p>

                    <p class="mb-2">
                        @foreach (var tag in blogPost.Tags)
                        {
                            <span class="badge bg-secondary me-1">@tag.Name</span>
                        }
                    </p>

                    <p class="mb-2 text-justify">
                        @blogPost.ShortDescription
                    </p>

                    <a class="btn btn-success"
                       asp-area=""
                       asp-controller="AdminBlogPosts"
                       asp-action="Edit"
                       asp-route-id="@blogPost.Id">Edit</a>
                </div>
            }
        }
        else
        {
            <p>No Blog Posts found.</p>
        }
    </div>

</div>