@model List<NetBlog.Web.Models.Domain.Tag>
@{
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
    int tagPosition = Convert.ToInt32(ViewBag.PageSize) * (Convert.ToInt32(ViewBag.PageNumber) - 1) + 1;
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Manage Tags - Admin Functionality</h1>
    </div>
</div>


<div class="container mt-3 text-center">
    <div class="row justify-content-between">
        <div class="col-10 col-sm-10 col-md-8 col-lg-6">
            <form method="get" asp-controller="AdminTags" asp-action="List">
                <div class="d-flex flex-row">
                    <input type="text" class="form-control" name="searchQuery" value="@ViewBag.SearchQuery" />
                    <button type="submit" class="btn btn-primary ms-2">
                        <span><i class="bi bi-search"></i></span>
                    </button>
                    <a class="btn btn-secondary ms-2" asp-controller="AdminTags" asp-action="List">
                        <span><i class="bi bi-arrow-clockwise"></i></span>
                    </a>
                </div>
            </form>
        </div>
        
        <div class="col text-end">
            <a class="btn btn-dark"
               asp-area=""
               asp-controller="AdminTags"
               asp-action="Add"><span><i class="bi bi-plus-lg"></i></span></a>
           
        </div>   
    </div>
</div>
 

@if (TempData["SuccessAlertMsg"] != null)
{
    <div class="container mt-3">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessAlertMsg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert">
            </button>
        </div>
    </div>
}

<div class="container mt-3">
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-striped align-middle table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>
                            Name
                            <span>
                                <span>
                                    <a class="btn-dark text-decoration-none" 
                                        asp-controller="AdminTags" 
                                        asp-action="List" 
                                        asp-route-sortBy="Name"
                                        asp-route-sortDirection="Asc"
                                        asp-route-searchQuery="@ViewBag.SearchQuery">
                                        <i class="bi bi-arrow-up"></i>
                                    </a>
                                </span>
                                <span>
                                    <a class="btn-dark text-decoration-none"
                                       asp-controller="AdminTags"
                                       asp-action="List"
                                       asp-route-sortBy="Name"
                                       asp-route-sortDirection="Desc" 
                                       asp-route-searchQuery="@ViewBag.SearchQuery">
                                        <i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </span>
                        </th>
                        <th>
                            Display Name
                            <span>
                                <span>
                                    <a class="btn-dark text-decoration-none"
                                       asp-controller="AdminTags"
                                       asp-action="List"
                                       asp-route-sortBy="DisplayName"
                                       asp-route-sortDirection="Asc"
                                       asp-route-searchQuery="@ViewBag.SearchQuery">
                                        <i class="bi bi-arrow-up"></i>
                                    </a>
                                </span>
                                <span>
                                    <a class="btn-dark text-decoration-none"
                                       asp-controller="AdminTags"
                                       asp-action="List"
                                       asp-route-sortBy="DisplayName"
                                       asp-route-sortDirection="Desc"
                                       asp-route-searchQuery="@ViewBag.SearchQuery">
                                        <i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </span>
                        </th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody class="table-light">
                    @foreach (var tag in Model)
                    {
                        <tr>
                            <td>@tagPosition</td>
                            <td>@tag.Name</td>
                            <td>@tag.DisplayName</td>
                            <td>
                                <a class="btn btn-success" asp-area="" 
                                    asp-controller="AdminTags"
                                    asp-action="Edit"
                                    asp-route-id="@tag.Id">Edit</a>
                            </td>
                        </tr>

                        tagPosition++;
                    }
                </tbody>
            </table>

        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="AdminTags"
                       asp-action="List"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&laquo;</span>
                   </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link"
                            asp-controller="AdminTags"
                            asp-action="List"
                            asp-route-pageNumber="@i"
                            asp-route-pageSize="@ViewBag.PageSize"
                            asp-route-sortBy="@ViewBag.SortBy"
                            asp-route-sortDirection="@ViewBag.SortDirection">@i</a>
                    </li>

                }

                <li class="page-item">
                    <a class="page-link"
                       asp-controller="AdminTags"
                       asp-action="List"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        <span aria-hidden="true">&raquo;</span>
                   </a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <p>No tags found.</p>
    }
</div>
